<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.androidinterview"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="15" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask" >
        </activity>
        <activity android:name="components.activity.task.SingleTaskActivity1" />
        <activity android:name="components.activity.task.SingleTaskActivity2" />
        <activity android:name="components.activity.task.SingleTaskActivity3" />
        <activity android:name="components.activity.task.SingleTaskActivity4" />
        <!-- 广播 -->        
        <activity android:name="components.broadcastreciver.ClientActivity" >
        </activity>
        <receiver android:name="components.broadcastreciver.CommonReciver" >
            <intent-filter>
                <action android:name="android.intent.action.LVTESTRECEIVER" />
            </intent-filter>
        </receiver>
        <receiver android:name="components.broadcastreciver.OrderedBroadcastReciver" >
            <intent-filter android:priority="100" >
                <action android:name="android.intent.action.LVTESTRECEIVER" />
            </intent-filter>
        </receiver>
        <!-- 使用Messenger进行IPC通信 -->
        <service
            android:name="ipc.messager_test.MessengerService"
            android:process=":remote" >
        </service>

        <activity android:name="ipc.messager_test.MessengerClient" >
        </activity>
        <!-- 使用AIDL进行IPC通信 -->
        <service
            android:name="ipc.aidl_test.service.BookManagerService"
            android:process=":remote1" >
        </service>

        <activity android:name="ipc.aidl_test.client.BookManagerClient" >
        </activity>
        <!-- 使用ContentProvider进行IPC通信 -->
        <provider
            android:name="ipc.contentprovider.server.BookProvider"
            android:authorities="ipc.contentprovider.BookProvider"
            android:permission="ipc.contentprovider.BookProvider"
            android:process=":provider" >
        </provider>

        <activity android:name="ipc.contentprovider.client.ProviderActivity" >
        </activity>
        <!-- 主线程与后台线程交互 -->
        <activity android:name="multi_thread.ViewPost" >
        </activity>
        <activity android:name="multi_thread.RunOnUiThread" >
        </activity>
        <activity android:name="multi_thread.HandlerSendMsg" >
        </activity>
        <activity android:name="multi_thread.HandlerPostRunnable" >
        </activity>
        <activity android:name="multi_thread.AsyncTaskTest" >
        </activity>
        <!-- 使用IntentService进程耗时任务 -->
        <activity android:name="components.service.Client" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name="components.service.IntentServiceTest" />
        <service android:name="components.service.ServiceTest" />
    </application>

</manifest>